################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/obj/Debug
/Test/bin/Debug
/Test/obj/Debug
*.user
/.vs/Xyrus.Apophysis/v14
